<div class="jumbotron center">
	<h1><img src="<%= asset_path 'me.png' %>" /><br />Scott Finkelstein</h1>
	<p>Web Technology Professional</p>
	<p><a href="https://www.linkedin.com/profile/view?id=10488810" target="_blank" style="color:#FFFFFF;"><i class="fa fa-linkedin-square"></i></a> <a href="https://twitter.com/SBF02" target="_blank" style="color:#FFFFFF;"><i class="fa fa-twitter"></i></a></p>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h3>Web Development</h3>
			<p>I have 10 years of experience building websites, and standalone web applications using PHP.</p>
			<p><%= link_to 'Learn More', pages_portfolio_path, class: 'btn btn-block btn-primary' %></p>
		</div>
                <div class="col-md-4">
                        <h3>Mobile Development</h3>
                	<p>I'm currently the lead iOS developer / project manager of Adelphi University's mobile app, AU2Go.</p>
			<p><%= link_to 'Learn More', pages_portfolio_path, class: 'btn btn-block btn-primary' %></p>
		</div>
                <div class="col-md-4">
                        <h3>Consulting</h3>
			<p>Already have a website but need a quick update or fix? I can help you, by providing a free look at your site.</p>
			<p><a href="#" class="btn btn-block btn-primary">Contact Me</a></p>	
                </div>

	</div>
</div>
