<div class="jumbotron center">
	<h1>Scott Finkelstein</h1>
	<p>Web Technology Professional</p>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<h2>Web Development</h2>
			<p>I have 10 years of experience building websites, and standalone web applications using PHP.</p>
		</div>
                <div class="col-md-4">
                        <h2>Mobile Development</h2>
                	<p>I'm currently the lead iOS developer / project manager of Adelphi University's mobile app, AU2Go.</p>
		</div>
                <div class="col-md-4">
                        <h2>Consulting</h2>
			
                </div>

	</div>
</div>
