<% provide(:title, 'Resume') %>
<div class="container-fluid resume">
	<h1 class="page-header">Resume</h1>
	
	<h3>Experience</h3>
	<h4>Manager of Web Technologies – Adelphi University	March 2012 - Present</h4>
	<ul>
		<li>Oversees Adelphi University’s Web and Mobile systems. Manages a team of two web programmers, one web services administrator and one Instructional Technology Specialist.</li>
	
		<li>Programmed Native iOS version of University app, AU2Go, and supervised the development of Android version.</li>

		<li>Built Student and Faculty facing PHP Web Applications that integrate with the University’s homegrown Enterprise system.</li>

		<li>Built an online course evaluation application.</li>
		
		<li>Built application allowing senior staff to submit their operating and capital budget requests for the fiscal year.</li>

		<li>Oversaw the upgrade of our University web portal, eCampus. Built custom Liferay portlets in Java.</li>

		<li>Wrote custom Wordpress plugins that pulled API data in from third party cloud services for display on the University website.</li>

		<li>Researched and vetted third party vendor for integrating Push Notification into AU2Go.</li>
	</ul>

	<h4>Web Designer – Adelphi University	January 2008 – March 2012</h4>
	<ul>
		<li>Created Flash animations for Alumni Fundraising Campaigns</li>
		<li>Assisted manager in vetting Open Source Content Management Systems for public website.</li>

		<li>Planned and built Adelphi’s web app.</li>
	</ul>
	
	<h4>Web / Video Developer – North Shore Animal League, America	August 2005 – June 2007</h4>

	<ul>
		<li>Designed eNewsletters and weekly email blasts.</li>

		<li>Updated and redesigned NSALA’s website using the GetActive (now Convio) CMS.</li>
		
		<li>Created Interactive Virtual Tour of the shelter and medical center.</li>

		<li>Shot and edited video of our hard-to-place shelter pets for inclusion on the website, resulting in adoptions.</li>
	</ul>

	<h3>Education</h3>
	<ul>
		<li>New York Institute of Technology – M.A., Communication Arts	2003 - 2005</li>

		<li>Five Towns College – B.F.A., Film and Video Production	1998 - 2003</li>
	</ul>
	
	<h3>Skills</h3>
	<h4>Languages</h4>
	<p>HTML, JavaScript, CSS, PHP, Python, Ruby, Objective-C, Swift, Java</p>	

	<h4>Libraries &amp; Frameworks</h4>
	<p>JQuery, Backbone, AngularJS, Bootstrap, Ruby on Rails, Django, Flask, CodeIgnigter</p>

	<h4>Databases</h4>
	<p>MySQL, MongoDB, Working knowledge of RocketU2 UniVerse</p>

	<h3>Presentations</h3>
	<p>"The Next Phase of Mobility: Connecting the Enterprise" Educause 2012 Conference.</p>
	<h3>Awards</h3>
	<p>2012 LISTNet LISA award – AU2Go Mobile Web App</p>
</div>
